.container {
  width: 100%;
  height: 100%;
}

.grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'file message';
  grid-column-gap: 40px;
  margin-bottom: 10px;
}

.message_container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: message;
}

.message {
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
  color: grey;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  height: 50px;
  padding: 0px 20px 0px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.2em;
}

.button:hover {
  opacity: 0.8;
  font-size: 1.25em;
}

.icon {
  height: 30px;
  width: 30px;
  margin-right: 15px;
  fill: #fff;
}

.pointer_events_none {
  pointer-events: none;
}

/*Small devices ( phones, up to 767px)*/
@media (max-width: 767px) {
  .grid_container {
    grid-template-columns: none;
    grid-template-rows: max-content max-content;
    grid-template-areas: 'message' 'file';

    grid-row-gap: 20px;
  }

  .message {
    font-size: 1em;
  }

  .button {
    font-size: 1em;
  }

  .button:hover {
    opacity: 1;
    font-size: 1em;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
  .message {
    font-size: 1.1em;
  }

  .button {
    font-size: 1em;
  }

  .button:hover {
    opacity: 1;
    font-size: 1em;
  }
}
