:root {
  --color1: orange;
  --color2: rgb(255, 189, 66);
}

.buttons {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  width: 80%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-radius: 30px;
  font-weight: 800;
  font-size: 1.3em;
  color: white;
  text-transform: uppercase;
  background: var(--color1);
  transition: 0.5s ease;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
  font-size: 1.35em;
}

.inactive {
  background: none;
  color: var(--color1);
  border: 2px solid var(--color1);
  box-sizing: border-box;
}
