.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

.circle {
  position: absolute;
  top: -1000px;
  right: -1400px;
  z-index: -1;
  width: 2000px;
  height: 2000px;
  border-radius: 50%;
  background-image: linear-gradient(
    0deg,
    rgba(255, 117, 0, 1) 0%,
    rgba(255, 165, 0, 1) 63%,
    rgba(255, 194, 0, 1) 100%
  );
}
