.container {
  width: 80vw;
  margin: 20px auto;
}

.top_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'info image';
  grid-column-gap: 40px;
}

/*Small devices ( phones, up to 767px)*/
@media (max-width: 767px) {
  .top_container {
    grid-template-columns: none;
    grid-template-rows: max-content max-content;
    grid-template-areas: 'image' 'info';
    grid-row-gap: 15px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
  .top_container {
    grid-template-columns: none;
    grid-template-rows: max-content max-content;
    grid-template-areas: 'image' 'info';
    grid-row-gap: 15px;
  }
}
